<head>
  <title>메인 페이지</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>

<body>
  <div id="chart_div" style="width: 900px; height: 500px;"></div>
  <div id="chart_div1" style="width: 900px; height: 500px;"></div>
  <div id="chart_div2" style="width: 900px; height: 500px;"></div>
</body>



<script type="text/javascript">
  $(document).ready(function () {
    defaultGraph();
    graph1();
    graph2();
  });
  function graph2() {
    $.ajax({
      url: "/getGraphData1",
      type: "GET",
      contentType: "application/json; charset=utf-8",
      success: function (jsonData) {
        google.load("visualization", "2", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
          var gglData = [];
          if (jsonData.length > 0) {
            // load column headings
            var colHead = [];
            Object.keys(jsonData[0]).forEach(function (key) {
              colHead.push(key);
            });
            gglData.push(colHead);

            // load data rows
            jsonData.forEach(function (row) {
              var gglRow = [];
              Object.keys(row).forEach(function (key) {
                gglRow.push(row[key]);
              });
              gglData.push(gglRow);
            });
          }
          var data = google.visualization.arrayToDataTable(gglData);

          var options = {
            title: 'graph2'
            ,
            legend: {
              position: 'bottom'
            },

          };

          var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
          chart.draw(data, options);
        }
      },
      error: function () {
        alert("조회 처리 중 에러가 발생했습니다");
      }
    })
  }

  function graph1() {
    $.ajax({
      url: "/getGraphData",
      type: "GET",
      contentType: "application/json; charset=utf-8",
      success: function (jsonData) {
        google.load("visualization", "2", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
          var avg=0;
          for (var i = 0; i < jsonData.length; i++) {
            avg += jsonData[i].x;
            avg += jsonData[i].y;
          }
          avg = avg/jsonData.length;
          var data = new google.visualization.DataTable();
            data.addColumn('string', 'id');
            data.addColumn('number', 'x');
            data.addColumn('number', 'y');
            data.addColumn('number', '평균값');
            for (var i = 0; i < jsonData.length; i++) {
         
                avg=avg;
                asder = jsonData[i].id;
                mes = jsonData[i].x;
                total = jsonData[i].y;
                data.addRow([asder,mes, total,avg]);
            }
          // if (jsonData.length > 0) {
          //   // load column headings
          //   var colHead = [];
          //   Object.keys(jsonData[0]).forEach(function (key) {
          //     colHead.push(key);
          //   });
          //   gglData.push(colHead);

          //   // load data rows
          //   jsonData.forEach(function (row) {
          //     var gglRow = [];
          //     Object.keys(row).forEach(function (key) {
          //       gglRow.push(row[key]);
          //     });
          //     gglData.push(gglRow);
          //   });
          // }
          //var data = google.visualization.arrayToDataTable(gglData);

          var options = {
            title: 'graph1',
            seriesType: 'bars',
            series: { 2: { type: 'line' } },
            hAxis: {title: 'time'},
            vAxis: {title: 'kwh'},
            isStacked: true
            ,
          };

          var chart = new google.visualization.ComboChart(document.getElementById('chart_div1'));
          chart.draw(data, options);
        }
      },
      error: function () {
        alert("조회 처리 중 에러가 발생했습니다");
      }
    })
  }
  function defaultGraph() {
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['test', 'Sales'],
        ['1', 400],
        ['2', 522],
        ['3', 612],
        ['4', 753]
      ]);

      var options = {
        title: 'defaultGraph',
        seriesType: 'bars',
        series: { 1: { type: 'line' } }
      };

      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  }
</script>