<head>
    <title>메인 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>

<body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div id="chart_div1" style="width: 900px; height: 500px;"></div>
</body>



<script type="text/javascript">
$(document).ready(function() {
    defaultGraph();
    graph1();
});

function graph1() {
    $.ajax({
        url:"/getGraphData",
        type:"GET",
        contentType: "application/json; charset=utf-8",
        success: function(resData) { 
            google.load("visualization", "2", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
             var data = google.visualization.arrayToDataTable([
             ['test', 'y','z'],
             ['1',resData.y,resData.x],
             ['2',resData.x,resData.y]
             ]);

    var options = {
      title: 'Company Performance'
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div1'));
    chart.draw(data, options);
  }
        },
        error: function() {
            alert("조회 처리 중 에러가 발생했습니다");
        }
    })
}
  function defaultGraph(){
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['test', 'Sales', 'Expenses'],
      ['1',  400,      400],
      ['2',  522,      460],
      ['3',  612,       1120],
      ['4',  753,      540]
    ]);

    var options = {
      title: 'Company Performance'
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
}
</script>

