<head>
    <title>메인 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    

</head>

<body>
    <h2>json 페이지</h2>
    <input id="fieldA" name="fieldA" size="15" type="date" /></p>
    <input id="fieldB" name="fieldB" size="15" type="text" /></p>
    <input  type="button" onclick="viewJson()" value="조회" >

    

</body>



<script>
    function viewJson() {

    var dataA = $("#fieldA").val()
    var dataB = $("#fieldB").val()

    var inputdata = { "Id":dataA }
    var inputdata2 = { "Id":dataB }
    $.ajax({
        url:"/json_test",
        type:"POST",
        data : JSON.stringify(inputdata2),
        contentType: "application/json; charset=utf-8",
        success: function(resData) {
            alert(JSON.stringify(resData));
        },
        error: function() {
            alert("조회 처리 중 에러가 발생했습니다");
        }
    })
}

</script>