<head>
    <title>메인 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    

</head>

<body>
    <h2>>메인 페이지</h2>
    <form  id="viewData_form" method="post">
        <p><label for="name">A</label> <input id="fieldA" name="fieldA" size="15" type="text" readonly="true" /></p>
        <p><label for="name">B</label> <input id="fieldB" name="fieldB" size="15" type="text" readonly="true" /></p>
        <p><label for="name">C</label> <input id="fieldC" name="fieldC" size="15" type="text" readonly="true" /></p>
        <p><label for="name">D</label> <input id="fieldD" name="fieldD" size="15" type="text" readonly="true" /></p>
        <input id="test" name="test" type="text"></input>
        <table id="mytable">
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        </form>
        <input  type="button" onclick="viewDataBtnClick()" value="조회" >
        <input  type="button" onclick="viewApiBtnClick()" value="검색" >
        <input name="search" type="text" id="search"  value="1" >
        <input  type="button" onclick="sendToGo()" value="전송" >
        

</body>

<script>
    function sendToGo(){

        var formSerializeArray = $('#search').serializeArray();
        var params = {};
        for (var i = 0; i < formSerializeArray.length; i++){
            params[formSerializeArray[i]['name']] = formSerializeArray[i]['value'];
        }
        $.ajax({
            type : 'post',
            url : '/sendToGo',
            data : JSON.stringify(params),
            error: function(){
                alert("에러발생");
            },
            success : function(json){
                alert(json.Title);
                alert(JSON.stringify(json));
            }
        });


    }
    
    function viewDataBtnClick() {
        


        $.ajax({
            url:"/main_viewData",
            type:"POST",
            contentType: "application/json; charset=utf-8",
            success: function(resData) { 
                var table = document.getElementById('mytable'), 
                rows = table.getElementsByTagName('tr'),
                i, j, cells, customerId;

                for (i = 0, j = rows.length; i < j; ++i) {
                    cells = rows[i].getElementsByTagName('td');
                    if (!cells.length) {
                        continue;
                    }
                    cells[0].innerHTML=resData.A;
                    cells[1].innerHTML=resData.B;
                
                }
                
               $("#fieldA").val(resData.A)
               $("#fieldB").val(resData.B)
               $("#fieldC").val(resData.C)
               $("#fieldD").val(resData.D)
            },
            error: function() {
                alert("조회 처리 중 에러가 발생했습니다");
            }
        })
    }
    function viewApiBtnClick() {
        $.ajax({
            url:"/api",
            type:"POST",
            contentType: "application/json; charset=utf-8",
            success: function(resData) { 
               $("#fieldA").val(resData.E)
               $("#fieldB").val(resData.F)
               $("#fieldC").val(resData.G)
               $("#fieldD").val(resData.G)
            },
            error: function() {
                alert("조회 처리 중 에러가 발생했습니다");
            }
        })
    }

</script>

